<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/juego.css"/> 
</head>
</html>

<body>
    <div class="principal">

      <main 
    <% if $size.to_i == 5 %>
    class="cuadro5x5"
    <%elsif $size.to_i == 4 %>
    class="cuadro4x4"
    <%elsif $size.to_i == 3 %>
    class="cuadro3x3"
    <%end%>>

        <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>

            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>

        <%i = $size.to_i
        while i > 0%>
        <div class="fila">

            <div class="borde">
                <p><%=i%></p>
            </div>

                <%j = $size.to_i
            while j > 0%>
            
            <div class="casilla">
                
                <%if @resultado[0][0] ==  j and @resultado[0][1] ==  i%>

                <%if @resultado[1] == "N"%>
                <img src="images/Nredcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%elsif @resultado[1] == "E"%>
                <img src="images/Eredcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif @resultado[1] == "O"%>
                <img src="images/Oredcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif @resultado[1] == "S"%>
                <img src="images/Sredcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%end%>
   
                <%end%>

                <%if $cars.to_i == 2%>
                <%if @resultado2[0][0] ==  j and @resultado2[0][1] ==  i%>

                <%if @resultado2[1] == "N"%>
                <img src="images/Nvioletcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%elsif @resultado2[1] == "E"%>
                <img src="images/Evioletcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif @resultado2[1] == "O"%>
                <img src="images/Ovioletcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif @resultado2[1] == "S"%>
                <img src="images/Svioletcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%end%>
                <%end%>
                <%end%>
            </div>
            <%j = j - 1%>
            <%end%>
        
            <div class="borde">
                <p><%=i%></p>
            </div>
             <%i = i - 1%>
             <%end%>
        </div>


         <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>


    </main>


         <div class="comandos">
         <%if $cars.to_i == 1%>
            <%if @resultado[0][0] > 0  and @resultado[0][1] > 0 and @resultado[0][0] < 6 and @resultado[0][1] < 6%>
            <p>La posicion final es: </p> <%=@resultado%>
            <%else%>
            <p>OH NO! El vehiculo ha excedido los limites del camino</p> <%=@resultado%>
            <%end%>
        <%else%>
            <%if @resultado[0][0] > 0  and @resultado[0][1] > 0 and @resultado[0][0] < 6 and @resultado[0][1] < 6%>
            <p>La posicion final es: </p> <%=@resultado%>
            <%else%>
            <p>OH NO! El vehiculo 1 ha excedido los limites del camino</p> <%=@resultado%>
            <%end%>

            <%if @resultado2[0][0] > 0  and @resultado2[0][1] > 0 and @resultado2[0][0] < 6 and @resultado2[0][1] < 6%>
            <p>La posicion final es: </p> <%=@resultado2%>
            <%else%>
            <p>OH NO! El vehiculo 2 ha excedido los limites del camino</p> <%=@resultado2%>
            <%end%>
        <%end%>

<br><br><br>

            <form method='post' action ='/menu'>
            <input type='submit' value='VOLVER A JUGAR' class="boton">
    </div>
   


    
    </div>

   
</body>


